<h2>Temperature Deviation Alert</h2>

<p>On {{dateFormat card.data.eventTempDeviationMessage.time format="MM-DD-YYYY HH:mm:ss"}}, a temperature deviation was detected for {{card.data.eventTempDeviationMessage.transformer_name}}.<p>
