<h2>Temperature within expected bounds</h2>

<p>For the period centered on {{dateFormat card.data.eventTempDeviationMessage.time format="MM-DD-YYYY HH:mm:ss"}}, the temperature for {{card.data.eventTempDeviationMessage.transformer_name}} remained within expected bounds.<p>
